html {
    background-color: bisque;
}

#canvas {
    position: absolute;
    height: 523px;
    width: 933px;
    border: 1px solid blue;
    top: calc(50% - 261px);
    left: calc(50% - 460px);
} 

.v {
    color: red;
}

#stats {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.letters {
    color: blueviolet;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#input {
    width: 200px;
    border-radius: 25px;
    border-color: blueviolet;
}
